* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  color: #084236;
}

body {
  display: flex;
  background: #dce4e3;
}

h1 {
  font-weight: 500;
  font-size: 25px;

  margin: 20px 0 0 10px;
}

/* sidebar fechada */

.sidebar {
  background: #18c29c;
  height: 100vh;
  width: 58px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* configurações gerais da lista */
ul li {
  list-style: none;
}

ul li a img {
  width: 24px;
  height: 24px;
}

/* alterando o primeiro ul */
.original {
  display: flex;
  flex-direction: column;
  margin-top: -237px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.original li {
  margin-bottom: 15px;
  padding: 10px 11px 6px 10px;
}

.original li:hover {
  padding: 10px 11px 6px 10px;

  border-radius: 10px;
  background-color: rgb(220, 228, 227, 0.8);
}

/* alterando o segundo ul */

.second {
  position: absolute;
  bottom: 0px;
}

.second li {
  background-color: rgb(220, 228, 227, 0.6);
  width: 58px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* escondendo conteúdo da sidebar fechada */
.hidden {
  display: none;
}

/* sidebar aberta */
.sidebar.active {
  width: 180px;
}

.sidebar.active .hidden {
  display: flex;
}

.sidebar.active .original {
  display: flex;
  flex-direction: column;
  margin-top: -281px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.sidebar.active #first {
  display: flex;
  align-content: center;

  flex-direction: row;
  gap: 60px;
}

.sidebar.active .original a {
  display: flex;
  align-content: center;

  flex-direction: row;
  gap: 20px;

  text-decoration: none;

  font-weight: 400;
  font-size: 16px;
}

/* .sidebar.active .second li {
  background-color: rgb(220, 228, 227, 0.6);
  width: 100vw;
  height: 50px;

  display: flex;
  align-items: center;
} */
