* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  color: #084236;
}

body {
  display: flex;
  background: #dce4e3;
}

h1 {
  font-weight: 500;
  font-size: 25px;

  margin: 20px 0 0 10px;
}

/* sidebar fechada */

.sidebar {
  background: #18c29c;
  height: 100vh;
  width: 58px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* configurações gerais da lista */
ul li {
  list-style: none;
}

ul li a img {
  width: 24px;
  height: 24px;
}

/* alterando o primeiro ul */
.original {
  display: flex;
  flex-direction: column;
  margin-top: -237px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.original li {
  margin-bottom: 15px;
  padding: 10px 11px 6px 10px;
}

.original li:hover {
  padding: 10px 11px 6px 10px;

  border-radius: 10px;
  background-color: rgb(220, 228, 227, 0.8);
}

/* alterando o segundo ul */

.second {
  position: absolute;
  bottom: 0px;
}

.second li {
  background-color: rgb(220, 228, 227, 0.6);
  width: 58px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* escondendo conteúdo da sidebar fechada */
.hidden {
  display: none;
}

/* sidebar aberta */
.sidebar.active {
  width: 210px;
}

/* mostrando o conteúdo da sidebar */
.sidebar.active .hidden {
  display: flex;
}

/* alterando os primeiros links da sidebar */
.sidebar.active .original {
  display: flex;
  flex-direction: column;
  margin-top: -272px;
  margin-left: -5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.sidebar.active .original a {
  display: flex;
  align-content: center;

  flex-direction: row;
  gap: 25px;

  text-decoration: none;

  font-weight: 400;
  font-size: 16px;
}

/* alterando o hover */
.sidebar.active .original li {
  margin-bottom: 15px;
  padding: 9px 11px 8px 10px;
}

.sidebar.active .original li:hover {
  padding: 9px 11px 8px 10px;

  border-radius: 10px;
  background-color: rgb(220, 228, 227, 0.8);
}

/* configurando a logo da sidebar */
.sidebar.active #first {
  display: flex;
  align-content: center;

  flex-direction: row;
  gap: 70px;
}

/* configurando a seção de saida e perfil da sidebar */
.sidebar.active .second li {
  background-color: rgb(220, 228, 227, 0.6);
  width: 100vw;
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* configurando o avatar da sidebar */
.sidebar.active #avatar {
  position: fixed;
  left: 5px;

  display: inline-flex;
  gap: 6px;
  align-content: center;
}

.sidebar.active #avatar p {
  font-size: 15px;
  width: 100px;
  position: fixed;
  bottom: 28px;
}

.sidebar.active #avatar span {
  font-size: 12px;
  position: fixed;
  bottom: 14px;
}

.sidebar.active #avatar img {
  border-radius: 10px;
}

/* alinhando o link de saida da sidebar */
.sidebar.active .second a {
  position: fixed;
  left: 175px;
  bottom: 13px;
}
